.App {
  text-align: left;
  margin: 5rem;
  font-family: '-apple-system';
}

.Main-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-right: 35px;
  align-items: start;
}

.Product-grid {
  display: grid;
  margin: 15px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.Side-bar {
  display: flex;
  flex-direction: column;
  margin: 15px 35px 0 0px;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  background-color: rgb(245, 232, 218);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.h3, h3 {
  margin-bottom: 2px;
  font-family: "dogica";
  font-size: 12px;
  letter-spacing: 3px;
}

.h1, h1 {
  font-family: "dogica";
  font-size: 35px;
  letter-spacing: 3px;
}

@font-face {
  font-family: 'dogica';
  src: local('dogica'), url(./dogica/TTF/dogica.ttf) format('truetype');
}
